<h2>Página de estadísticas</h2>
<br>
 <h4>El número de preguntas es: <%= nPreguntas %></h4>
 <br>
 <h3>Comentarios totales</h3>
 <h4>El número de comentarios es: <%= nComments %></h4>
 <h4>El número medio de comentarios por pregunta es: <%= media %></h4>
 <h4>El número de preguntas con comentarios es: <%= nConComments %></h4>
 <h4>El número de preguntas sin comentarios es: <%= nSinComments %></h4>
 <br>
 <h3>Comentarios publicados</h3>
 	 <h4>El número de comentarios publicados es: <%= nCommentsPub %></h4>
 <h4>El número medio de comentarios publicados  por pregunta es: <%= mediaPub %></h4>
 <h4>El número de preguntas con comentarios publicados es: <%= nConCommentsPub %></h4>
 <h4>El número de preguntas sin comentarios publicados  es: <%= nSinCommentsPub %></h4>

 <a href="/"> Volver</a>
 <br>