<h2>Página de estadísticas</h2>
<br>
 <h4>El número de preguntas es: <%= npreguntas %></h4>
 <h4>El número de comentarios publicados es: <%= ncomments %></h4>
 <h4>El número medio de comentarios publicados por pregunta es: <%= ncomments/npreguntas %></h4>
 <h4>El número de preguntas con comentarios es: <%= ncon %></h4>
 <h4>El número de preguntas sin comentarios es: <%= npreguntas-ncon %></h4>
<br>
 <a href="/"> Volver</a>